<h1 class="display-4" style="color: #2C4A52; margin-top: 2%">My Articles</h1>

<div class="row row-m-t"></div>

<a class="btn btn-warning btn-lg" [routerLink]="['/newarticle']"> + New Article</a>

<div class="row row-m-t"></div>

<h3 class="display-6">Articles</h3>

<div class="row row-m-t"></div>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 20%">Title</th>
            <th style="width: 55%">Description</th>
            <th style="width: 10%">Link</th>
            <th style="width: 15%">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of articles">
            <th [routerLink]="['/article',{articleId:a._id}]">{{a.title}}</th>
            <th>{{a.description}}</th>
            <th>
                <a class="btn btn-info" [href]="a.link">Read</a>
            </th>
            <th>
                <button type="button" class="btn btn-danger" (click)="deleteArticle(a)">Delete</button>
                <a class="btn btn-primary" [routerLink]="['/editarticle',{id:a._id}]">Edit</a>
            </th>
        </tr>
    </tbody>
</table>