<nav class="navbar navbar-expand navbar-dark" style="background-color: #2C4A52;">
  <a class="navbar-brand" [routerLink]="['/']">DevFeed</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/']">Home </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li *ngIf="userService.loggedIn() && userService.isAuthor()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/myarticles']">My Articles </a>
          </li>
        <li *ngIf="userService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink]="['/profile']">Profile </a>
        </li>
        <li *ngIf="!userService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink]="['/login']">Login </a>
        </li>
        <li *ngIf="!userService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        <li *ngIf="userService.loggedIn()" class="nav-item">
          <a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a>
        </li>
      </ul>
  </div>
</nav>
