<div class="container">
    <h1 class="display-4">New article</h1>
    <form (submit)="onSubmit()">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" [(ngModel)]="title" name="title" placeholder="Title">
        </div>

        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" [(ngModel)]="description" name="description" placeholder="Description">
        </div>

        <div class="form-group">
            <label>Link</label>
            <input type="text" class="form-control" [(ngModel)]="link" name="link" placeholder="Link to the article">
        </div>

        <div class="form-group">
            <form class="form-inline">
                <div class="form-group mb-3">
                    <label>Tags: </label>
                </div>
                <div class="form-group mx-sm-2 mb-2">
                    <select class="custom-select" [(ngModel)]="selectedTag" name="selectedTag">
                        <option *ngFor="let t of tags" [ngValue]="t.name">{{t.name}}</option>
                    </select>
                </div>
                <button class="btn btn-primary" (click)="addTagToList()">Add</button>
            </form>
            <tag-input [(ngModel)]="tagList" 
                        name="tagList" 
                        [identifyBy]="'name'" 
                        [displayBy]="'name'" 
                        [allowDupes]='false'
                        [editable]='false'
                        [modelAsStrings]='true'
                        [hideForm]='true'
                        theme="bootstrap"
                        >
            </tag-input>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>
