<h1 class="display-4" id="header" style="color: #2C4A52; margin-top: 2%">Articles</h1>


<form class="form-inline" id="cardId">
  <div class="form-check mr-3">
      <input class="form-check-input" type="checkbox" [(ngModel)]="checked" name="filter" (change)="changeFilter()">
      <label class="form-check-label" for="checkbox11" style="color: #2C4A52; size: 10px">Filter</label>
  </div>
</form>

<div *ngIf="checked" id="cardId">
  <div class="form-group">
    <form class="form-inline">
      <div class="form-group mb-3">
          <label>Tags: </label>
      </div>
      <div class="form-group mx-sm-2 mb-2">
          <select class="custom-select" [(ngModel)]="selectedTag" name="selectedTag">
              <option *ngFor="let t of tags" [ngValue]="t.name">{{t.name}}</option>
          </select>
      </div>
      <button class="btn btn-success" (click)="addTagToList()">Add</button>
  </form>
  <tag-input [(ngModel)]="tagList" 
              name="tagList" 
              [identifyBy]="'name'" 
              [displayBy]="'name'" 
              [allowDupes]='false'
              [editable]='false'
              [modelAsStrings]='true'
              [hideForm]='true'
              theme="bootstrap"
              >
  </tag-input>
  <button class="btn btn-success" (click)="filterArticles()">Filter</button>
  </div>
</div>

<div class="card" id="cardId" *ngFor="let a of articles" style="border: 1px solid #2C4A52;">
  <h5 [routerLink]="['/article',{articleId:a._id}]" class="card-header" >{{a.title}}</h5>
  <div class="card-body">
    <h5 class="card-title">By: {{a.authorName}}</h5>
    <p class="card-text">{{a.description}}</p>
    <p>Tags: <span class="badge badge-primary" *ngFor="let t of a.tags">{{t&nbsp;}}</span></p>
    
    <ul class="list-group list-group-flush" >
      <li class="list-group-item center" >
        <a [href]="a.link" class="btn btn-info">Read article</a>
        <button type="button" class="btn btn-success" *ngIf="checkLike(a._id)" (click)="upvote(a._id)" >Upvoted</button>
        <button type="button" class="btn btn-success" *ngIf="!checkLike(a._id)" (click)="upvote(a._id)" >Upvote</button>
        <button type="button" class="btn btn-danger"  *ngIf="checkDislike(a._id)" (click)="downvote(a._id)">Downvoted</button>
        <button type="button" class="btn btn-danger"  *ngIf="!checkDislike(a._id)" (click)="downvote(a._id)">Downvote</button>
      </li>
    </ul>
  </div>
</div>

<div id="cardId">
  <button class="btn btn-secondary" id="buttonId" (click)="getPrevPage()" [disabled]="prevPageState()"><<</button>
  <button class="btn btn-secondary" id="buttonId" (click)="getNextPage()">>></button>
</div>
