table { 
    table-layout: fixed; 
}
 
table th, table td { 
    overflow: hidden; 
}

#cardId {
    width:75%;
    margin: 0 auto;
    margin-top: 25px;
}

#header {
    text-align: center;
}

#buttonId {
    color: white;
    background: #2C4A52;
}
  