<h2 class="page-header" style="color: #2C4A52; margin-top: 2%">Register</h2>
<form (submit)="registerUser($event)" style="margin-top: 1%">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>First Name</label>
      <input type="text" class="form-control" [(ngModel)]="firstName" name="firstName" placeholder="First Name">
    </div>
    <div class="form-group col-md-6">
      <label>Last Name</label>
      <input type="text" class="form-control" [(ngModel)]="lastName" name="lastName" placeholder="Last Name">
    </div>
  </div>

  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Email">
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
    </div>
    <div class="form-group col-md-6">
      <label>Repeat Password</label>
      <input type="password" class="form-control" placeholder="Repeat Password">
    </div>
  </div>  

  <div class="form-row">
      <div class="form-group">
      <label>Role</label>
      <select class="custom-select" [(ngModel)]="roleSelected" name="roleSelected">
        <option *ngFor="let r of roles" [ngValue]="r">{{r}}</option>
      </select>
      </div>
  </div> 

  <input type="submit" class="btn" id="buttonId" value="Register">
</form>
