<div *ngIf="user">
  <h1 class="display-4" style="color: #2C4A52; margin-top: 2%">Profile</h1>

  <label>First Name: {{user.firstName}}</label>
  <br>
  <label>Last Name: {{user.lastName}}</label>
  <br>
  <label>Username: {{user.username}}</label>
  <br>
  <label>Email: {{user.email}}</label>
</div>