<div class="containter text-center top-gap">
  <div class="col-lg-8 mx-auto">
    <h3>{{title}}</h3>
    <p>By : {{authorName}}</p>
    <p>Description: {{description}}</p>
    <p>Tags: <span class="badge badge-primary" *ngFor="let t of tags">{{t&nbsp;}}</span></p>
    <a [href]="link" class="btn btn-info">Read article</a>
    <button type="button" class="btn btn-success" *ngIf="checkLike(articleId)" (click)="upvote(articleId)" >Upvoted</button>
    <button type="button" class="btn btn-success" *ngIf="!checkLike(articleId)" (click)="upvote(articleId)" >Upvote</button>
    <button type="button" class="btn btn-danger"  *ngIf="checkDislike(articleId)" (click)="downvote(articleId)">Downvoted</button>
    <button type="button" class="btn btn-danger"  *ngIf="!checkDislike(articleId)" (click)="downvote(articleId)">Downvote</button>
  </div>
</div>

<div class="col-lg-10 mx-auto">

  <h4 class="top-gap">Write a comment:</h4>
  
  <form (submit)="submitComment()">
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="commentmodel" name="commentmodel" placeholder="Comment">
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>

  <div class="top-gap">
    <h4>Comments:</h4>
  </div>

  <div class="card" *ngFor="let c of comments">
    <div class="card-header">
      {{c.username}}
    </div>
    <div class="card-body">
      <p class="card-text">{{c.comment}}</p>
    </div>
  </div>

</div>
