<div class="containter text-center top-gap">
  <div class="col-lg-7 mx-auto">
    <h2 class="page-header" style="color: #2C4A52; margin-top: 2%">Login</h2>
    <form (submit)="loginUser()">

      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Username">
      </div>

      <div class="form-group">
        <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
      </div>

      <input type="submit" class="btn" id="buttonId" value="Login">
    </form>
  </div>
</div>
