/* You can add global styles to this file, and also import other style files */

body {
    /* background-color: #EDF0F5; */
    /* background-color: #F4EBDB; */
    /* background-color: #537072; */
}
